<div class="body">
   <h2>イベント一覧</h2>
</div>


<% @ivents.each do |ivent| %>
<div class="ivent-box">
<div class="ivent-image">
<%= ivent.image %>
</div>
<div class="ivent-outline">
<p>　タイトル：<%= ivent.ivent_name %></p>
<p>　日　時　：<%= ivent.start_day %>~<%= ivent.end_day %></p>
<p>　場　所　：<%= ivent.place %></p>
<p>　概　要　：<%= ivent.text %></p>
<p class="more">詳しく見る</p>
</div>

</div>
<% end %>




