<div class="body">
   <h2>イベント一覧</h2>
</div>


<% @ivents.each do |ivent| %>
<div class="ivent-box">
<div class="ivent-image">
<%= ivent.image %>
</div>
<div class="ivent-outline">
<div class="box">
<div class="title">タイトル：</div>
<div class="content"><%= ivent.ivent_name %></div>
</div>
<div class="box">
<div class="title">日　時　：</div>
<div class="title"><%= ivent.start_day %>~<%= ivent.end_day %></div>
</div>
<div class="box">
<div class="title">場　所　：</div>
<div class="content"><%= ivent.place %></div>
</div>
<div class="more">
   <li>
   <%= link_to '詳しく見る', "/ivents/#{ivent.id}", method: :get %>
  </li></div>
</div>

</div>
 
<% end %>
<%= paginate(@ivents) %>



