<!DOCTYPE html>
<html>
  <head>
    <title>HOMETOWN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      HOMETOWN
      <vl class="header_right">
        <li></li>
      </vl>
    </header>
    <%= yield %>
  </body>
</html>
