<!DOCTYPE html>
<html>
  <head>
    <title>HOMETOWN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="normalize.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo">
              <h1><a class="post" href="/">HOMETOWN</a></h1>
        </div>
        <% if user_signed_in? %>  
          <div class="user_button">
            <%= link_to "ログアウト", destroy_user_session_path, class: 'post',method: :delete %>
            <a class="post" href="/ivents/new">投稿する</a>
          </div>
        <% else %>
          <div　class="user_button">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
    </header>
    <div class="bar"></div>
    <%= yield %>
  </body>
</html>
